@import 'src/styles-variables.scss';
@import '~@angular/material/theming';

.container {
  @media (min-width: map-get($grid-breakpoints, sm)) {
    margin-top: 20vh;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    padding-right: 0;
    padding-left: 0;
  }
}

mat-card {
  padding: 40px;
}

.login-link {
  display: inline-block;
  float: right;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  float: bottom;
}

.background {
  background-image: url("src/assets/gradient.png");
  background-position: bottom;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

form {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: grid;
    height: 100%;
  }
}

.formRow {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    min-height: calc(100vh - 56px);
    mat-card {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

    }
  }
}
