<mat-nav-list>

  <div *ngIf="!data.shared; else hidePhoto">
    <a mat-list-item (click)="onShareImage()">
      <span mat-line>Share</span>
      <span mat-line>Make Your photo public</span>
    </a>
  </div>

  <ng-template #hidePhoto>
    <a mat-list-item (click)="onHideImage()">
      <span mat-line>Hide</span>
      <span mat-line>Make Your photo private</span>
    </a>
  </ng-template>

  <a mat-list-item (click)="onChangeImageName()">
    <span mat-line>Change name</span>
    <span mat-line>Change your file name</span>
  </a>

  <a mat-list-item (click)="onDeleteImage()">
    <span mat-line>Delete</span>
    <span mat-line>Delete this photo</span>
  </a>

  <a mat-list-item (click)="onReport(data)">
    <span mat-line>Metadata</span>
    <span mat-line>Get report with metadata</span>
  </a>

</mat-nav-list>
