@import 'src/styles-variables.scss';

.background {
  background-color: #121212;
  background-position: bottom;
  background-size: cover;
  position: relative;
  min-height: calc(100vh - 64px - 40px);
  @media (max-width: map-get($grid-breakpoints, sm)) {
    min-height: calc(100vh - 56px - 40px);
  }
}

img {
  max-width: 100%;
  height: auto;
  max-height: calc(100vh - 64px - 40px);
  @media (max-width: map-get($grid-breakpoints, sm)) {
    max-height: calc(100vh - 56px - 40px);
  }
}

mat-toolbar {
  min-height: 0!important;
  height: 40px!important;
}

.spacer {
  font-size: 16px;
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

